body {
  margin: 0;
  padding: 0;
}

.App .App__top {
  background-color: wheat;
}

.App .App__main {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.App .App__main__text {
  width: 100%;
}
