body {
  margin: 0;
  padding: 0;
}

.App .App__top {
  width: 100%;
  height: 20vh;
  background-color: black;
  color: #eee;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App .App__main {
  width: 100%;
  height: 60vh;
  background-color: skyblue;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App .App__bottom {
  width: 100%;
  height: 20vh;
  background-color: beige;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
